<section class="hero">
	<div class="container hero__container">
		<h3 class="hero__title">Что вас ждёт</h3>
		<ul class="list-reset hero__list">
			<li class="hero__item">
				<h2 class="hero__number">8</h2>
				<p class="hero__text">часов прикладного контента</p>
			</li>
			<li class="hero__item">
				<h2 class="hero__number">500+</h2>
				<p class="hero__text hero__text-second">единомышленников и коллег по цеху</p>
			</li>
			<li class="hero__item">
				<h2 class="hero__number">15</h2>
				<p class="hero__text">федеральных спикеров</p>
			</li>
		</ul>
	</div>
</section>
