<section class="part">
	<div class="container part__container">
		<h2 class="part__title">Участие</h2>
		<ul class="part__list list-reset">
			<li class="part__item part__item-first">
				<div class="part__container-inner">
					<h3 class="part__subtitle">Оффлайн</h3>
					<p class="part__price">Бесплатно</p>
					<div class="part__text">
						Билет включает возможность принять участие в конференции в очном формате
					</div>
				</div>
				<button class="btn-reset part__button">Зарегистрироваться</button>
			</li>
			<li class="part__item part__item-second">
				<div class="part__container-inner">
					<h3 class="part__subtitle">Онлайн</h3>
					<p class="part__price">500 р.</p>
					<div class="part__text">
						Билет включает:
						<ul class="part__list-inner list-reset">
							<li class="part__item-inner">✓ доступ к онлайн-трансляции в день мероприятия</li>
							<li class="part__item-inner">✓ информационные материалы по итогам конференции</li>
						</ul>
					</div>
				</div>
				<button class="btn-reset part__button">Зарегистрироваться</button>
			</li>
			<li class="part__item part__item-third">
				<div class="part__container-inner">
					<h3 class="part__subtitle">Материалы конференции</h3>
					<p class="part__price">500 р.</p>
					<div class="part__text">
						Включает:
						<ul class="part__list-inner list-reset">
							<li class="part__item-inner part__item-bolder">✓ видеозапись конференции</li>
							<li class="part__item-inner">✓ информационные материалы по итогам конференции</li>
						</ul>
						<span class="part__text-extra">
							Услуга может быть приобретена при наличии билета участника конференции
						</span>
					</div>
				</div>
				<button class="btn-reset part__button part__button-disabled">в продаже с 15 мая</button>
			</li>
		</ul>
	</div>
</section>
