<section class="practice">
	<div class="container practice__container">
		<h2 class="practice__title">Практики, достойные распространения</h2>
		<ul class="list-reset practice__list">
			<li class="practice__item">
				<img
					loading="lazy"
					src="https://thumb.tildacdn.com/tild3262-3638-4234-b230-663165336630/-/resize/84x/-/format/webp/noroot.png"
					class="image practice__image"
					width="84"
					height="84"
					alt="Иконка громофона"
				/>
				<p class="practice__text practice__text-wider">
					Инструменты, <br />
					применимые <br />
					и на локальном рынке
				</p>
			</li>
			<li class="practice__item">
				<img
					loading="lazy"
					src="https://thumb.tildacdn.com/tild6265-3839-4731-a639-306163623736/-/resize/72x/-/format/webp/noroot.png"
					class="image practice__image"
					width="72"
					height="71"
					alt="Иконка портфеля"
				/>
				<p class="practice__text">Кейсы ведущих компаний</p>
			</li>
			<li class="practice__item">
				<img
					loading="lazy"
					src="https://thumb.tildacdn.com/tild3466-6234-4639-b365-316566643137/-/resize/84x/-/format/webp/noroot.png"
					class="image practice__image"
					width="84"
					height="89"
					alt="Иконка связи людей"
				/>
				<p class="practice__text">Digital и офлайн нетворкинг</p>
			</li>
			<li class="practice__item">
				<img
					loading="lazy"
					src="https://thumb.tildacdn.com/tild6362-3366-4133-b732-343661663331/-/resize/84x/-/format/webp/noroot.png"
					class="image practice__image"
					width="84"
					height="84"
					alt="Иконка трансляции"
				/>
				<p class="practice__text practice__text-wider">Онлайн-трансляция</p>
			</li>
		</ul>
	</div>
</section>
