:root {
	// base
	--font-family: "TTNorms", sans-serif;
	--content-width: 1200px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #323232;
	--purple-color: #372382;
	--violet-color: #a21381;
}
